.salesWindowOptions {
    height: auto;
    width: 100%;
}

    .salesWindowOptions .options {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

        .salesWindowOptions .options .option_item {
            width: 100px;
            height: 100px;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 3px 10px 0 rgba(0, 0, 0, 0.005);
            -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 3px 10px 0 rgba(0, 0, 0, 0.005);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 3px 10px 0 rgba(0, 0, 0, 0.005);
            margin: 0px 5px 10px 5px;
        }

            .salesWindowOptions .options .option_item:hover {
                border: 2px solid #12188c;
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
                cursor: pointer;
            }

            .salesWindowOptions .options .option_item .option_item_image {
                height: 70%;
                width: 100%;
                text-align: center;
            }

                .salesWindowOptions .options .option_item .option_item_image i {
                    font-size: 50px;
                }

            .salesWindowOptions .options .option_item .option_item_name {
                height: 30%;
                width: 100%;
                background-color: #12188c;
                color: #fff;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                font-weight: 600;
            }

                .salesWindowOptions .options .option_item .option_item_name p {
                    padding: 0;
                    margin: 0;
                }

.salesWindow {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

    .salesWindow .productsModule {
        width: 29%;
        height: auto;
    }

        .salesWindow .productsModule .productFilterOptions {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            background-color: #fff;
            padding: 5px;
            margin-bottom: 4px;
        }

            .salesWindow .productsModule .productFilterOptions .productFilter {
                width: 33%;
            }

        .salesWindow .productsModule .productSearchOption {
            width: 100%;
            height: auto;
            background-color: #fff;
            padding: 5px;
            margin-bottom: 4px;
        }

        .salesWindow .productsModule .products {
            width: 100%;
            height: auto;
            background-color: #fff;
            display: flex;
            flex-flow: row wrap;
            padding: 5px;
            margin-bottom: 4px;
        }

            .salesWindow .productsModule .products .productItem {
                width: 100px;
                height: 100px;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 3px 10px 0 rgba(0, 0, 0, 0.005);
                -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 3px 10px 0 rgba(0, 0, 0, 0.005);
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 3px 10px 0 rgba(0, 0, 0, 0.005);
                margin: 0px 5px 10px 5px;
            }

                .salesWindow .productsModule .products .productItem:hover {
                    border: 1px solid #12188c;
                    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
                    cursor: pointer;
                }

    .salesWindow .billingModule {
        width: 70%;
    }

        .salesWindow .billingModule .selectledger {
            padding: 5px;
            background-color: #fff;
            margin-bottom: 4px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        .salesWindow .billingModule .ledgerDetails {
            font-size: 11px;
            padding: 5px;
            background-color: #fff;
            margin-bottom: 4px;
        }

            .salesWindow .billingModule .ledgerDetails input {
                font-size: 11px;
            }

        .salesWindow .billingModule .productItems {
            height: 40vh;
            width: 100%;
            padding: 5px;
            background-color: #fff;
            margin-bottom: 4px;
        }

        .salesWindow .billingModule .billing {
            width: 100%;
            padding: 5px;
            background-color: #fff;
            margin-bottom: 4px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

            .salesWindow .billingModule .billing .billing_methods {
                width: 30%;
                padding: 10px;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }

                .salesWindow .billingModule .billing .billing_methods .methods {
                    width: 50%;
                }

                    .salesWindow .billingModule .billing .billing_methods .methods button {
                        font-size: 12px;
                    }

            .salesWindow .billingModule .billing .bills .billDetails input {
                font-size: 12px;
                height: 25px;
                text-align: right;
            }


.no-border {
    border: none;
}
