@model POSSystemWithInventory.Models.BrandVM
@{
    ViewData["Title"] = "Brand";
    Layout = "~/Views/Shared/_POSLayout.cshtml";
}


<style>
    .odd {
        background-color: #b3ffff;
    }

    .even {
        background-color: #b3b3ff;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <form id="brandCreateForm" enctype="multipart/form-data">
            <div class="card">
                <div id="headingOne" class="card-header bg-blue1">
                    <button type="button" data-toggle="collapse" data-target="#Collapse" aria-expanded="true" class="text-left m-0 p-0 btn btn-block" style="box-shadow: none;">
                        <h5 class="m-0 p-0" style="color: #fff;">Add Brand</h5>
                    </button>
                </div>
                <div class="card-body">
                    <div id="Collapse" class="collapse show">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Code" class="control-label"></label>
                                    <input asp-for="Code" class="form-control" />
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <textarea asp-for="Description" class="form-control" cols="3"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Logo" class="control-label"></label>
                                    <input asp-for="Logo" class="form-control" style="border:none;" />
                                    <span asp-validation-for="Logo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="brandResetBtn">Reset</button>
                        <button type="button" id="brandCreateBtn" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div id="headingTwo" class="card-header bg-blue1">
                <button type="button" data-toggle="collapse" data-target="#Collapse" aria-expanded="true" class="text-left m-0 p-0 btn btn-block" style="box-shadow: none;">
                    <h5 class="m-0 p-0" style="color: #fff;">Brand List</h5>
                </button>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-bordered" id="brandList">
                    <thead style="background-color: #ffd9b3;">
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Logo</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        (function () {
            let ajaxOperation = new AjaxOperation();
            let modalOperation = new ModalOperation();

            let selector = {
                name: $("#Name"),
                code: $("#Code"),
                description: $("#Description"),
                photo: $("#Logo"),
                brandCreateBtn: $("#brandCreateBtn"),
                brandCreateForm: $("#brandCreateForm"),
                brandList: $("#brandList"),
                brandResetBtn: $("#brandResetBtn"),
                tableInformation: '',
                globalId: '',
                duplicateStorage: [],
            };

            let validator = selector.brandCreateForm.validate({
                // Specify validation rules
                rules: {
                    Name: {
                        required: true,
                    },
                },
                // Specify validation error messages
                messages: {
                    Name: "Name Field is required",
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                submitHandler: function (form) {

                }
            });

            function GenerateBrandList() {
                var brandList = selector.brandList.dataTable({
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "pageLength": 10,
                    "autoWidth": false,
                    "lengthMenu": [[10, 50, 100, 150, 200, 500], [10, 50, 100, 150, 200, 500]],
                    "order": [[0, "desc"]],
                    "ajax": {
                        "url": "/Brand/BrandList/",
                        "type": "POST",
                        "data": function (data) {

                        },
                        "complete": function (json) {

                        }
                    },
                    "columnDefs": [
                        { "className": "custome", "targets": [0, 1, 2, 3] },
                    ],
                    "columns": [
                        { "data": "name", "name": "name", "autowidth": true, "orderable": true },
                        { "data": "code", "name": "code", "autowidth": true, "orderable": true },
                        { "data": "description", "name": "description", "autowidth": true, "orderable": true },
                        {
                            "render": function (data, type, full, meta) {
                                return `<img src = ${full.logoUrl} width = "20" height = "20"/>`;
                            }
                        },
                        {
                            "render": function (data, type, full, meta) {
                                return `
                                <div class="btn-group">
                                    <i class="fa fa-ellipsis-h" title = 'Actions' style = 'cursor:pointer;' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                  <div class="dropdown-menu" >
                                    <button style="font-size: inherit;" class="dropdown-item btn-rx editBrandInformation" name = "${full.name}" code = "${full.code}" description = "${full.description}" brandId = "${full.id}" ><i class="fa fa-check-circle" aria-hidden="true"></i>Edit</button >
                                    <button style="font-size: inherit;" class="dropdown-item btn-rx deleteBrandInformation" brandId = "${full.id}" > <i class="fa fa-times" aria-hidden="true"></i>Delete</button >
                                  </div>
                                </div>`;
                            }
                        },
                    ]
                });
                selector.tableInformation = brandList;
            }
            function GetDuplicate() {
                selector.duplicateStorage = ajaxOperation.GetAjax("/Brand/GetDuplicate/");
                console.log(selector.duplicateStorage);
            }
            function ShowEditInformation(name, code, description){
                selector.name.val(name);
                selector.code.val(code);
                selector.description.val(description);
            }

            function DuplicateCheck(name, code) {
                let index = selector.duplicateStorage.findIndex(item => item.name.toUpperCase() === name.toUpperCase() && item.code.toUpperCase() === code.toUpperCase());
                return index === - 1 ? true : false;
            }

            selector.brandCreateBtn.click(function () {
                let duplicateCheck = DuplicateCheck(selector.name.val(), selector.code.val());
                if ($(this).text() === "Save") {
                    if (selector.brandCreateForm.valid() && duplicateCheck === true) {
                        let formData = new FormData(selector.brandCreateForm[0]);
                        let photo = selector.photo.get(0);
                        formData.append('Photo', photo.files);

                        let data = ajaxOperation.SaveAjax("/Brand/Index", formData);

                        if (data === true) {
                            selector.tableInformation.fnFilter();
                            selector.brandCreateForm[0].reset();
                            toastr.success('Successfully Saved!', 'success');
                        }
                        else {
                            toastr.error('Something went wrong!', 'error');
                        }
                    }
                    else if (duplicateCheck === false) {
                        toastr.error("Duplicate Entry Not Allowed!", "Error");
                    }
                    else {
                        toastr.error('Please fill up the form with valid information.', 'Validation Failed!');
                    }
                }
                else{
                    let formData = new FormData(selector.brandCreateForm[0]);
                    let photo = selector.photo.get(0);
                    formData.append('Photo', photo.files);
                    formData.append("Id", selector.globalId);
                    let data = ajaxOperation.SaveAjax("/Brand/BrandUpdate", formData);
                    if (data === true) {
                        selector.tableInformation.fnFilter();
                        selector.brandCreateForm[0].reset();
                        toastr.success('Successfully Updated!', 'success');
                        $(this).text("Save");
                    }
                    else {
                        toastr.error('Something went wrong!', 'error');
                    }
                }
            });

            window.onload = function () {
                GenerateBrandList();
                GetDuplicate();
            }

            selector.brandResetBtn.click(function () {
                selector.brandCreateForm[0].reset();
            });

            $(document).on("click", ".editBrandInformation", function () {
                selector.globalId = $(this).attr("brandId");
                let name = $(this).attr("name");
                let code = $(this).attr("code");
                let description = $(this).attr("description");
                ShowEditInformation(name, code, description);
                selector.brandCreateBtn.text("Update");
            });

            $(document).on("click", ".deleteBrandInformation", function () {
                let supplierId = $(this).attr("brandId");
                Swal.fire({
                    title: 'Are You Sure?',
                    text: "",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    showConfirmButton: true,
                    allowEscapeKey: false,
                    allowOutsideClick: false,

                }).then((result) => {
                    if (result.value) {
                        let hasDone = ajaxOperation.DeleteAjaxById("/Brand/DeleteBrand", supplierId);
                        if (hasDone === true) {
                            toastr.success('Successfully Deleted!', 'Success');
                            selector.tableInformation.fnFilter();
                        }
                        else {
                            toastr.error('Something went wrong', 'Error');
                        }
                    }
                });
            });

            selector.name.keyup(function () {
                let text = $(this).val();
                if (text.length > 0 && text.length <= 3 && text != null) {
                    text = text.toUpperCase();
                    text = text + "-00001";
                }
                else if (text.length > 3) {
                    let newText = "";
                    for (let i = 0; i < 3; i++) {
                        newText += text[i];
                    }
                    text = newText.toUpperCase();
                    text = text + "-00001";
                }
                else {
                    text = "";
                }
                selector.code.val(text);
            });

        })();
    </script>
}