@model POSSystemWithInventory.Models.UserLoginVM
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_POSLayout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <form id="changePasswordForm" enctype="multipart/form-data">
            <div class="card">
                <div id="headingOne" class="card-header bg-blue1">
                    <button type="button" data-toggle="collapse" data-target="#Collapse" aria-expanded="true" class="text-left m-0 p-0 btn btn-block" style="box-shadow: none;">
                        <h5 class="m-0 p-0" style="color: #fff;">Change Password</h5>
                    </button>
                </div>
                <div class="card-body">
                    <div id="Collapse" class="collapse show">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="NewPassword" class="control-label">New Password</label>
                                    <input type="password" asp-for="NewPassword" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="changePassowrdReset">Reset</button>
                        <button type="button" id="changePasswordBtn" class="btn btn-primary">Change</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        (function () {
            let ajaxOperation = new AjaxOperation();
            let selector = {
                newPassword: $("#NewPassword"),
                confirmPassword: $("#ConfirmPassword"),
                changePasswordForm: $("#changePasswordForm"),
                changePasswordBtn: $("#changePasswordBtn"),
                changePassowrdReset: $("#changePassowrdReset"),
            };

            selector.changePasswordBtn.click(function () {
                let newPassword = selector.newPassword.val();
                let confirmPassword = selector.confirmPassword.val();
                if (newPassword === confirmPassword) {
                    let formData = new FormData(selector.changePasswordForm[0]);
                    let data = ajaxOperation.SaveAjax("/Setting/ChangePassword", formData);
                    if (data === true) {
                        toastr.success("Successfully Changed!", "Success");
                        $(".form-control").val("");
                    }
                    else {
                        toastr.error("Something went wrong!", "Error");
                    }
                }
                else {
                    toastr.error("Password doesn't match!", "Error");
                }
            })

        })();
    </script>

}