@model POSSystemWithInventory.Models.PurchaseProductVM
@{
    ViewData["Title"] = "Accounts Pay";
    Layout = "~/Views/Shared/_POSLayout.cshtml";
}
<style>
    .odd {
        background-color: #b3ffff;
    }

    .even {
        background-color: #b3b3ff;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <form id="brandCreateForm" enctype="multipart/form-data">
            <div class="card">
                <div id="headingOne" class="card-header bg-blue1">
                    <button type="button" data-toggle="collapse" data-target="#Collapse" aria-expanded="true" class="text-left m-0 p-0 btn btn-block" style="box-shadow: none;">
                        <h5 class="m-0 p-0" style="color: #fff;">Accounts Pay</h5>
                    </button>
                </div>
                <div class="card-body">
                    <div id="Collapse" class="collapse show">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <select class="form-control select2" asp-items="Model.SupplierItem" asp-for="SupplierId">
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-success btn-sm" id="search" tittle="Search" type="button"><i class="fa fa-search"></i>Search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row" id="overAllInformation" style="display:none;">
                            <div class="col-md-12">
                                <h3 style="text-align:center;">Supplier Information</h3>
                                <table class="table table-borderless">
                                    <tbody id="supplierInformation">
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <h3 style="text-align:center;">Account Dues</h3>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr style="text-align:center; background-color:coral;">
                                            <th>Invoice No.</th>
                                            <th>Grand Total</th>
                                            <th>Paid Amount</th>
                                            <th>Dues</th>
                                            <th>Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="duesInformation">
                                    </tbody>
                                    <tfoot>
                                        <tr style="background-color: coral;">
                                            <td colspan="3" style="text-align:right;">Total</td>
                                            <td style="text-align:center;" id="totalDues"></td>
                                            <td style="text-align:center;"></td>
                                            <td style="text-align:center;"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="col-md-9"></div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-secondary pull-right" id="payDues">Pay</button>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{ 
<script>

    (function () {
        let ajaxOperation = new AjaxOperation();
        class PurchaseDetail{
            constructor(invoiceNumber, dues) {
                this.invoiceNumber = invoiceNumber;
                this.dues = dues;
            }
        }
        let selector = {
            search: $("#search"),
            supplierId: $("#SupplierId"),
            supplierInformation: $("#supplierInformation"),
            duesInformation: $("#duesInformation"),
            totalDues: $("#totalDues"),
            payDues: $("#payDues"),
            overAllInformation: $("#overAllInformation"),
            duesInfo: ".duesInfo",
            increment: 1,
        }
        class Process {
            constructor() { }
            SupplierInformation(supplier) {
                let data = `
                            <tr>
                                <td style="text-align:right;">Name :</td>
                                <td style="text-align:left;">${supplier.name}</td>
                                <td style="width:20% !important;"></td>
                                <td style="text-align:center;" rowspan="2">
                                    <img src = "${supplier.photoUrl}" width = "100" height = "100" alt = "No Image">
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;">Phone :</td>
                                <td style="text-align:left;">${supplier.phone}</td>
                                <td style="width:20% !important;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:right;">Email :</td>
                                <td style="text-align:left;">${supplier.email}</td>
                                <td style="width:20% !important;text-align:right;">Designation :</td>
                                <td style="text-align:left;">${supplier.designation}</td>
                            </tr>`;
                selector.supplierInformation.html(data);
            }
            GetSupplierInformation(supplierId) {
                let information = ajaxOperation.GetAjaxByValue("/User/SupplierInformationById", supplierId);
                this.SupplierInformation(information);
            }
            BuildDues(invoiceNumber, grandTotal, paidAmount, dues, date) {
                let data = `<tr style = "text-align:center;" class = ${selector.increment % 2 == 0? "even" : "odd"}>
                                <td>${invoiceNumber}</td>
                                <td>${grandTotal}</td>
                                <td>${paidAmount}</td>
                                <td>${dues}</td>
                                <td>${date}</td>
                                <td>
                                    <input type="checkbox" class="duesInfo" invoiceNumber="${invoiceNumber}" dues="${dues}" checked="checked" />
                                </td>
                            </tr>`;
                selector.increment++;
                return data;
            }
            
            GetAllDues(supplierId) {
                let dues = ajaxOperation.GetAjaxByValue("/Inventory/GetDuesBySupplier/", supplierId);
               
                let data = "";
                for (let i = 0; i < dues.length; i++) {
                    let invoiceNumber = dues[i].invoiceNumber;
                    let grandTotal = dues[i].grandTotal;
                    let paidAmount = dues[i].paidAmount;
                    let supplierDues = dues[i].dues;
                    let date = dues[i].createdDate;
                    data += this.BuildDues(invoiceNumber, grandTotal.toFixed(2), paidAmount.toFixed(2), supplierDues.toFixed(2), date);
                }
                selector.duesInformation.html(data);
                selector.totalDues.text(this.CalculateSum(selector.duesInfo));
            }

            CalculateSum(className) {
                let summation = 0;
                $(className).each(function () {
                    if ($(this).is(":checked")) {
                        summation += Number($(this).attr("dues"));
                    }
                });
                return summation.toFixed(2);
            }
            MakeJson(className) {
                let jsonData = [];
                $(className).each(function () {
                    if ($(this).is(":checked")) {
                        let invoiceNumber = $(this).attr("invoiceNumber");
                        let dues = $(this).attr("dues");
                        let obj = new PurchaseDetail(invoiceNumber, dues);
                        jsonData.push(obj);
                    }
                });
                let data = {
                    PurchaseProducts: jsonData,
                }
                return data;
            }
        }
        let process = new Process();
        selector.search.click(function () {
            let supplierId = selector.supplierId.val();
            process.GetSupplierInformation(supplierId);
            process.GetAllDues(supplierId);
            selector.overAllInformation.show();
        });
        $(document).on("change", selector.duesInfo, function () {
            let sum = process.CalculateSum(selector.duesInfo);
            selector.totalDues.text(sum);
        });

        selector.payDues.click(function () {
            let jsonData = process.MakeJson(selector.duesInfo);
            if (jsonData.PurchaseProducts.length > 0) {
                let response = ajaxOperation.SavePostAjax("/Inventory/AccountPay", jsonData);
                if (response === true) {
                    toastr.success("Payment Done!", "Success");
                    selector.overAllInformation.hide();
                }
                else {
                    toastr.error("Something went wrong!", "Error");
                }
            }
        })
    })();
</script>
}
