@model POSSystemWithInventory.Models.SalesInvoiceDetailVM

@{
    ViewData["Title"] = "Top 10 Sale";
    Layout = "~/Views/Shared/_POSLayout.cshtml";
    var dictionary = ViewBag.top10Sales;
}

<style>
    .odd {
        background-color: #b3ffff;
    }

    .even {
        background-color: #b3b3ff;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div id="headingTwo" class="card-header bg-blue1">
                <button type="button" data-toggle="collapse" data-target="#Collapse" aria-expanded="true" class="text-left m-0 p-0 btn btn-block" style="box-shadow: none;">
                    <h5 class="m-0 p-0" style="color: #fff;">Top 10 Sales</h5>
                </button>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-bordered" id="brandList">
                    <thead style="background-color: #ffd9b3;">
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                            foreach (var item in Model.SalesInvoiceDetail)
                            {
                                string className = count % 2 == 0 ? "even" : "odd";
                                <tr class=@className style="text-align:center;">
                                    <td>
                                        @item.ProductName
                                    </td>
                                    <td>
                                        <img src="@item.PhotoUrl" width="50" height="50" title="@item.ProductName" alt="No image" />
                                    </td>
                                    <td>
                                        @item.Count
                                    </td>
                                </tr>

                                count++;
                             }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


