@model POSSystemWithInventory.Models.CustomerVM

@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_POSLayout.cshtml";
}

<style>
    .odd {
        background-color: #b3ffff;
    }

    .even {
        background-color: #b3b3ff;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <form id="CustomerCreateForm" enctype="multipart/form-data">
            <div class="card">
                <div id="headingOne" class="card-header bg-blue1">
                    <button type="button" data-toggle="collapse" data-target="#Collapse" aria-expanded="true" class="text-left m-0 p-0 btn btn-block" style="box-shadow: none;">
                        <h5 class="m-0 p-0" style="color: #fff;">Add Supplier</h5>
                    </button>
                </div>
                <div class="card-body">
                    <div id="Collapse" class="collapse show">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Profession" class="control-label"></label>
                                    <input asp-for="Profession" class="form-control" />
                                    <span asp-validation-for="Profession" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Phone" class="control-label"></label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address" class="control-label"></label>
                                    <textarea class="form-control" asp-for="Address" cols="3"></textarea>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NID" class="control-label"></label>
                                    <input asp-for="NID" class="form-control" />
                                    <span asp-validation-for="NID" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Photo" class="control-label"></label>
                                    <input asp-for="Photo" style="border:none;" class="form-control" />
                                    <span asp-validation-for="Photo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CompanyName" class="control-label">Company Name</label>
                                    <input asp-for="CompanyName" class="form-control" />
                                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Designation" class="control-label"></label>
                                    <input asp-for="Designation" class="form-control" />
                                    <span asp-validation-for="Designation" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="customerResetBtn">Reset</button>
                        <button type="button" id="customerCreateBtn" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div id="headingTwo" class="card-header bg-blue1">
                <button type="button" data-toggle="collapse" data-target="#Collapse" aria-expanded="true" class="text-left m-0 p-0 btn btn-block" style="box-shadow: none;">
                    <h5 class="m-0 p-0" style="color: #fff;">Supplier List</h5>
                </button>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-bordered" id="customerList">
                    <thead style="background-color: #ffd9b3;">
                        <tr>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Photo</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        (function () {
            let ajaxOperation = new AjaxOperation();
            let modalOperation = new ModalOperation();

            let selector = {
                name: $("#Name"),
                email: $("#Email"),
                address: $("#Address"),
                nid: $("#NID"),
                photo: $("#Photo"),
                companyName: $("#CompanyName"),
                designation: $("#Designation"),
                profession: $("#Profession"),
                phone: $("#Phone"),
                supplierCreateBtn: $("#customerCreateBtn"),
                supplierCreateForm: $("#customerCreateForm"),
                supplierList: $("#customerList"),
                supplierResetBtn: $("#customerResetBtn"),
                tableInformation: '',
                globalId: '',
            };
            let validator = selector.supplierCreateForm.validate({
                // Specify validation rules
                rules: {
                    Name: {
                        required: true,
                    },
                    Email: {
                        required: true
                    },
                    Address: {
                        required: true,
                    },
                    NID: {
                        required: true
                    },
                    Photo: {
                        required: true
                    },
                    Phone: {
                        required: true
                    },
                    Designation: {
                        required: true
                    },
                    CompanyName:{
                        required: true
                    },
                    Profession: {
                        required: true
                    }
                },
                // Specify validation error messages
                messages: {
                    Name: "Name Field is required",
                    Email: "Email Field is required",
                    Address: "Address Field is required",
                    NID: "NID info is required",
                    Photo: "Must Include a photo",
                    Phone: "Phone number is required",
                    Designation: "Designation is required",
                    CompanyName: "Company name is required",
                    Profession: "Profession is required",
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                submitHandler: function (form) {

                }
            });

            function GenerateSupplierList() {
                var supplierList = selector.supplierList.dataTable({
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "pageLength": 10,
                    "autoWidth": false,
                    "lengthMenu": [[10, 50, 100, 150, 200, 500], [10, 50, 100, 150, 200, 500]],
                    "order": [[0, "desc"]],
                    "ajax": {
                        "url": "/User/SupplierList/",
                        "type": "POST",
                        "data": function (data) {

                        },
                        "complete": function (json) {

                        }
                    },
                    "columnDefs": [
                        { "className": "custome", "targets": [0, 1, 2, 3] },
                    ],
                    "columns": [
                        {
                            "render": function (data, type, full, meta) {
                                return `${full.name} <br/>
                                        <span style = "font-size: 8px;">${full.designation}</span>
                                        <br/><span style = "font-size: 8px;">${full.companyName}</span>`;
                            }
                        },
                        {
                            "render": function (data, type, full, meta) {
                                return `<span style = "font-size: 8px;">email:${full.email}</span>
                                        <br/><span style = "font-size: 8px;">phone:${full.phone}</span>`;
                            }
                        },
                        { "data": "address", "name": "address", "autowidth": true, "orderable": true },
                        {
                            "render": function (data, type, full, meta) {
                                return `<img src = ${full.photoUrl} width = "20" height = "20"/>`;
                            }
                        },
                        {
                            "render": function (data, type, full, meta) {
                                return `
                            <div class="btn-group">
                                <i class="fa fa-ellipsis-h" title = 'Actions' style = 'cursor:pointer;' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                              <div class="dropdown-menu" >
                                <button style="font-size: inherit;" class="dropdown-item btn-rx viewSupplierInformation" supplierId = "${full.id}" ><i class="fa fa-info-circle" aria-hidden="true"></i>View</button >
                                <button style="font-size: inherit;" class="dropdown-item btn-rx editSupplierInformation" name = "${full.name}" companyName = "${full.companyName}" designation = "${full.designation}" phone = "${full.phone}" email = "${full.email}" address = "${full.address}" nid = "${full.nid}" supplierId = "${full.id}" ><i class="fa fa-check-circle" aria-hidden="true"></i>Edit</button >
                                <button style="font-size: inherit;" class="dropdown-item btn-rx deleteSupplierInformation" supplierId = "${full.id}" > <i class="fa fa-times" aria-hidden="true"></i>Delete</button >
                              </div>
                            </div>`;
                            }
                        },
                    ]
                });
                selector.tableInformation = supplierList;
            }

            function ShowEditInformation(name, email, address, nid, phone, companyName, designation){
                selector.name.val(name);
                selector.email.val(email);
                selector.address.val(address);
                selector.nid.val(nid);
                selector.companyName.val(companyName);
                selector.phone.val(phone);
                selector.designation.val(designation);
            }

            selector.supplierCreateBtn.click(function () {
                if($(this).text() === "Save"){
                    if (selector.supplierCreateForm.valid()) {
                        let formData = new FormData(selector.supplierCreateForm[0]);
                        let photo = selector.photo.get(0);
                        formData.append('Photo', photo.files);

                        let data = ajaxOperation.SaveAjax("/User/Customer", formData);
                        if (data === true) {
                            selector.tableInformation.fnFilter();
                            selector.supplierCreateForm[0].reset();
                            toastr.success('Successfully Saved!', 'success');
                        }
                        else {
                            toastr.error('Something went wrong!', 'error');
                        }
                    }
                    else {
                        toastr.error('Please fill up the form with valid information.', 'Validation Failed!');
                    }
                }
                else{
                    let formData = new FormData(selector.supplierCreateForm[0]);
                    let photo = selector.photo.get(0);
                    formData.append('Photo', photo.files);
                    formData.append("Id", selector.globalId);
                    let data = ajaxOperation.SaveAjax("/User/CustomerUpdate", formData);
                    if (data === true) {
                        selector.tableInformation.fnFilter();
                        selector.supplierCreateForm[0].reset();
                        toastr.success('Successfully Updated!', 'success');
                        $(this).text("Save");
                    }
                    else {
                        toastr.error('Something went wrong!', 'error');
                    }
                }
            });

            window.onload = function () {
                //GenerateSupplierList();
            }

            selector.supplierResetBtn.click(function () {
                selector.supplierCreateForm[0].reset();
            });

            $(document).on("click", ".editSupplierInformation", function () {
                selector.globalId = $(this).attr("supplierId");
                let name = $(this).attr("name");
                let email = $(this).attr("email");
                let address = $(this).attr("address");
                let nid = $(this).attr("nid");
                let phone = $(this).attr("phone");
                let companyName = $(this).attr("companyName");
                let designation = $(this).attr("designation");
                ShowEditInformation(name, email, address, nid, phone, companyName, designation);
                selector.supplierCreateBtn.text("Update");
            });

            $(document).on("click", ".deleteSupplierInformation", function () {
                let supplierId = $(this).attr("supplierId");
                Swal.fire({
                    title: 'Are You Sure?',
                    text: "",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    showConfirmButton: true,
                    allowEscapeKey: false,
                    allowOutsideClick: false,

                }).then((result) => {
                    if (result.value) {
                        let hasDone = ajaxOperation.DeleteAjaxById("/User/DeleteSupplier", supplierId);
                        if (hasDone === true) {
                            toastr.success('Successfully Deleted!', 'Success');
                            selector.tableInformation.fnFilter();
                        }
                        else {
                            toastr.error('Something went wrong', 'Error');
                        }
                    }
                });
            });

            $(document).on("click", ".viewSupplierInformation", function () {
                let supplierId = $(this).attr("supplierId");
                let htmlData = ajaxOperation.GetAjaxHtmlByValue("/User/SupplierInformation", supplierId);

                $("#modalHeading").text("Supplier Information");
                modalOperation.ModalStatic("#informationModal");
                modalOperation.ModalOpenWithHtml("#informationModal", "#informationModalDiv", htmlData);
            });

        })();
    </script>
}

